:root {
    --bg: #282828;
    --bg2: #504945;
    --darker-bg: #1d2021;
    --fg: #fbf1c7;
    --fg3: #bdae93;
    --lightred: #fb4934;
    --darkred: #cc241d;
    --gray: #928374;
}
* {
    text-decoration: none;
}

body {
    max-width: 720px;
    margin: auto;
    padding: 0 1em 1em 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--bg);
    color: var(--fg);
}

.item-entry {
    margin: 0.2em;
    display: flex;
}

.app-title {
    text-align: center;
}

.high-priority {
    color: var(--darkred);
}

.normal-priority {
    color: var(--lightred);
}

.low-priority {
    color: var(--fg3);
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    background-color: var(--darker-bg);
    padding: 1em 2em;
    text-align: center;
}

a {
    color: var(--fg);
}

input {
    background-color: var(--gray);
    border-radius: 0.3em;
    border-style: none;
    padding: 0.4em;
    color: var(--darker-bg);
}

button {
    padding: 0.4em;
    border-radius: 0.4em;
    border-style: none;
    background-color: var(--bg2);
    color: var(--fg);
}

input[type="submit"]:hover, button:hover {
    cursor: pointer;
}

.add-button {
    padding-right: 2em;
    padding-left: 2em;
    font-size: 1.1em;
}

.button-right {
    margin-left: auto;
    margin-right: 1em;
}

form {
    /*display: inline;*/
}

p {
    text-align: center;
    color: var(--fg);
}

h1, label {
    color: var(--fg);
}
